<h1>Pending Orders</h1>
{% for provider_name, provider in pending_items.items %}
    <h3>{{ provider_name }} - ${{ provider.total }}</h3>
    <ul>
      {% for item in provider.items %}
        <li>
          {{ item.quantity }} {{ item.product__brand__name }} {{ item.product__name }}: ${{ item.cost }}
        </li>
      {% endfor %}
    </ul>
{% endfor %}

<h1>Ready Orders</h1>
<ul>
{% for order in ready_orders %}
    <li>{{ order }} - Quantity: {{ order.quantity  }} - Code: <strong>{{ order.pickup_code }}</strong></li>
    <ul>
      {% for item in order.item_set.all %}
        <li>
          {{ item.quantity }} - {{ item.product }}
          {% if item.comment %}
            <div>{{ item.comment }}</div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <br>
{% endfor %}
</ul>