{% extends 'base.html' %} {% block content %}

<div class="row my-2">
  {% if pending_items %}
  <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-header">Providers Pending Items</div>
      <div class="card-body">
        {% for provider_name, provider in pending_items.items %}
          <div>
            <a href="providers/{{ provider.id }}">{{ provider_name }}</a> - {{ provider.quantity }} - ${{ provider.total }}
          </div>
          <ul>
            {% for item in provider.items %}
            <li>
              {{ item.quantity }} {{ item.product__brand__name }} {{ item.product__name }}: ${{ item.cost }}
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-header">Providers Balances</div>
      <div class="card-body">
        {% for provider in providers %}
          <div>
            <a href="admin/orders/provider/{{ provider.id }}">{{ provider }}</a>:
            <strong>{{ provider.balance }}</strong>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="row my-2">
  {% if pending_orders %}
    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-header">Members Pending Orders</div>
        <div class="card-body">
          {% include "./order_list.html" with orders=pending_orders with_items=True %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if ready_orders %}
  <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-header">Members Ready Orders</div>
      <div class="card-body">
        {% include "./order_list.html" with orders=ready_orders with_items=True %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if sent_orders %}
  <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-header">Members Sent Orders</div>
      <div class="card-body">
        {% include "./order_list.html" with orders=sent_orders %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
