{% for order in orders %}
  <div>
    <a href="admin/orders/order/{{ order.id }}">{{ order }}</a>:
    {{ order.quantity }} - 
    <a href="https://www.andesmarcargas.com.ar/seguimiento.html?numero={{ order.code }}&tipo=Seguimiento" >{{ order.code }}</a> - 
    ${{ order.total }}  
    <strong>{{ order.paid|yesno:" - Paid," }}</strong>
  </div>
  {% if with_items %}
    <ul>
      {% for item in order.item_set.all %}
        <li>
          {{ item.quantity }} - {{ item.product }} 
          {% if item.comment %}
            <div>{{ item.comment }}</div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}