<script>
  const setTracking = (orderId) => {
    const code = window.prompt('Insert Tracking Code');
    if (code) {
      window.location = `/orders/orders/${orderId}/update_tracking/?tracking_code=${code}`;
    }
  }
</script>

{% for order in orders %}
  <div>
    <a href="admin/orders/order/{{ order.id }}">{{ order }}</a>:
    {{ order.quantity }} -
    {% if order.tracking_code %} 
      <a href="https://www.andesmarcargas.com.ar/seguimiento.html?numero={{ order.tracking_code }}&tipo=Seguimiento" >{{ order.tracking_code }}</a>
    {% else %}
      <span role="button" onclick="setTracking({{ order.id }})">???</span> 
    {% endif %} - 
    {% if order.paid %}
      <s>${{ order.total }}</s>
    {% else %}
      <a href="{% url 'pay_order' order_id=order.id %}"><b>${{ order.total }}</b></a>
    {% endif %}
    {% if order.status_id == 1 %}
      <a href="{% url 'update_order_status' order_id=order.id status_id=2 %}">📦</a>
      {% elif order.status_id == 2 %}
      <a href="{% url 'update_order_status' order_id=order.id status_id=3 %}">🚚</a>
    {% elif order.status_id == 3 %}
      <a href="{% url 'update_order_status' order_id=order.id status_id=4 %}">✅</a>
    {% endif %}
  </div>
  {% if with_items %}
    <ul>
      {% for item in order.item_set.all %}
        <li>
          {{ item.quantity }} - {{ item.product }} 
          {% if item.comment %}
            <div>{{ item.comment }}</div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}